@model Clinic.Models.Category

@{
    ViewData["Title"] = "Удалить категорию";
}

<h1>Удаление категории</h1>

<h3>Вы уверены что хотите удалить эту категорию?</h3>
<div>
    <h4>Категория</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Назад</a>
    </form>
</div>
